@use "../../../styles/globals/mixins" as *;
@use "../../../styles/globals/variables" as *;

.hero-projects {
  background-image: url("/crane.jpg");
  background-color: rgba(0, 0, 0, 0.445);
  background-blend-mode: overlay;
  height: 300px;
  @include breakpoint(1000px) {
    height: 50vh;
  }
  &__wrapper {
    padding: $padding-vertical-mobile 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @include breakpoint(1000px) {
      padding: 72px 100px;
    }
  }
  &__heading {
    color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 76.8px */
    @include breakpoint(1000px) {
      font-size: 64px;
    }
  }
  &__red {
    background-color: #ba1b1d;
    width: 30px;
    height: 10px;
    @include breakpoint(1000px) {
      width: 60px;
      height: 20px;
    }
  }
}

.projects {
  &__wrapper {
    padding: $padding-vertical-mobile 20px;
    @include breakpoint(1000px) {
      padding: 72px 100px;
    }
  }
  &__mobile-menu {
    // border-bottom: 1px solid #dbd8d7;

    margin-bottom: 48px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;

    @include breakpoint(1000px) {
      padding-bottom: 24px;
      margin: auto;
      justify-content: center;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__type {
    color: #312c40;
    padding: 0 28px;
    background-color: transparent;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 24px */
    border: none;
    border-right: 3px solid #dfdee3;
    cursor: pointer;
    &--selected {
      color: #ba1b1d;
      font-weight: bold;
    }
  }

  &__link {
    width: 250px;
    position: relative;
  }
  &__name {
    position: absolute;
    color: white;
    font-size: 24px;
    padding: 12px;
    bottom: 0;
    background-color: #312c4078;
  }
  &__image {
    object-fit: cover;
    width: 350px;
    height: 350px;
  }
}
