@use "../../../styles/globals/mixins" as *;

.hero-projects {
  background-image: url("/crane.jpg");
  background-color: rgba(0, 0, 0, 0.445);
  background-blend-mode: overlay;
  height: 50vh;
  &__wrapper {
    padding: 72px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @include breakpoint(1000px) {
      padding: 72px 100px;
    }
  }
  &__heading {
    color: #fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 76.8px */
  }
  &__red {
    width: 60px;
    height: 20px;
    background-color: #ba1b1d;
  }
}

.projects {
  &__wrapper {
    padding: 72px 20px;
    @include breakpoint(1000px) {
      padding: 72px 100px;
    }
  }
  &__mobile-menu {
    border-bottom: 1px solid #dbd8d7;
    padding-bottom: 24px;
    margin-bottom: 48px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;

    @include breakpoint(1000px) {
      margin: auto;
      justify-content: center;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__type {
    color: #312c40;
    padding: 0 24px;
    background-color: transparent;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    border: none;
    border-right: 3px solid #dfdee3;
  }

  &__link {
    width: 250px;
  }
  &__image {
    object-fit: cover;
    width: 350px;
    height: 350px;
  }
}
