@use "./mixins" as *;

.header {
  position: absolute;
  width: 100%;
  border-bottom: 0.7px solid rgba(135, 132, 132, 0.5);

  // &__wrapper {
  //   position: relative;
  // }
  &--home {
    border: none;
  }

  &__mobile {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    @include breakpoint(1000px) {
      display: none;
    }
  }
  &__logo {
    width: 60px;
    &--home {
      width: 100px;
    }
  }
  &__desktop {
    display: none;
    @include breakpoint(1000px) {
      display: flex;
      justify-content: space-between;
      padding: 20px 100px;
    }
  }
  &__nav {
    display: flex;
    padding-top: 12px;
  }
  &__nav-ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
    z-index: 50;
  }
  &__nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    &--focus {
      color: #ba1b1d;
    }
  }
}
