@use "./mixins" as *;

.header {
  position: absolute;
  width: 100%;
  border-bottom: 0.7px solid rgba(135, 132, 132, 0.5);

  // &__wrapper {
  //   position: relative;
  // }
  &--home {
    border: none;
  }

  &__mobile {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    @include breakpoint(1000px) {
      display: none;
    }
  }
  &__logo {
    width: 100px;
    &--home {
      width: 100px;
    }
  }
  &__desktop {
    display: none;
    @include breakpoint(1000px) {
      display: flex;
      justify-content: space-between;
      padding: 20px 100px;
    }
  }
  &__nav {
    display: flex;
    padding-top: 12px;
  }
  &__nav-ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
    z-index: 50;
  }
  &__nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    &:hover {
      text-decoration: underline;
    }
    &--focus {
      color: #ba1b1d;
    }
  }
}

.lang-list {
  display: flex;
  gap: 12px;
  list-style-type: none;
  padding: 0;
  margin-top: 10px;

  &__li {
  }
  &__link {
    color: rgb(191, 191, 191);
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 24px;
  gap: 72px;
  height: 100vh;
  width: 80vw; // This value was changed to stop the full width of the dropdown
  background-color: #3c3634;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 299;
  transition: right 0.3s;

  @include breakpoint(1000px) {
    display: none;
  }
  &--hidden {
    // visibility: hidden;
    transition: right 0.3s;
    // z-index: -1;
    // position: absolute;
    right: -100%;
  }
  &__close {
    display: flex;
    margin-left: auto;

    gap: 6px;
    width: 70px;
  }
  &__close-text {
    color: white;
  }
  &__ul {
    list-style-type: none;
    padding: 0;
    margin-top: 72px;
  }
  &__link {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }
  &__socials {
    display: flex;
    gap: 12px;
    margin-top: 24px;
  }
}
