@use "../../../styles/globals/mixins" as *;
@use "../../../styles/globals/variables" as *;

.hero-team {
  background-image: url("/crane.jpg");
  background-color: rgba(0, 0, 0, 0.445);
  background-blend-mode: overlay;
  height: 350px;
  @include breakpoint(1000px) {
    height: 60vh;
  }

  &__wrapper {
    padding: 72px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @include breakpoint(1000px) {
      padding: 72px 100px;
    }
  }
  &__heading {
    color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 76.8px */
    @include breakpoint(1000px) {
      font-size: 64px;
      padding-top: 86px;
    }
  }
  &__red {
    width: 50px;
    height: 15px;
    background-color: #ba1b1d;
    @include breakpoint(1000px) {
      width: 60px;
      height: 20px;
    }
  }
}

.intro {
  background: #f4f1f1;
  padding: $padding-vertical-mobile 20px 20px 20px;
  @include breakpoint(1000px) {
    padding: $padding-vertical-desktop 100px;
  }
  &__wrapper {
    @include breakpoint(1000px) {
      width: 70%;
      color: red;
    }
  }
  &__heading {
    color: #312c40;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 43.2px */
    margin-bottom: 24px;
    @include breakpoint(1000px) {
      font-size: 40px;
      margin-bottom: 72px;
    }
  }
  &__text {
    color: #312c40;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 27px */
    letter-spacing: 0.18px;
  }
}
.team {
  padding: 24px 20px;
  background: #f4f1f1;
  @include breakpoint(1000px) {
    padding: $padding-vertical-desktop 100px;
  }
  &__overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    position: fixed;
  }
  &__headings-div {
    display: flex;
    gap: 24px;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 48px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__heading {
    color: #312c40;

    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    &--focus {
      color: #ba1b1d;
      font-weight: 700;
    }
  }
  &__people {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__person {
    @include breakpoint(600px) {
      max-width: 250px;
    }
    @include breakpoint(1000px) {
      max-width: 350px;
    }
  }
  &__person-name {
    font-size: 22px;
  }
  &__person-title {
    font-size: 18px;
  }
}

.modal {
  box-shadow: 10px 10px 500px 0 black;
  margin: auto;
  height: 100vh;
  width: 100vw;
  padding: 12px 24px;
  background-color: #3c3634;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @include breakpoint(700px) {
    width: 80vw;
    height: 700px;
    top: 50%;
    left: 50%;
    padding: 48px;
    transform: translate(-50%, -50%);
  }
  &__close-div {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 24px;
    right: 24px;
  }
  &__close-button {
    display: flex;
    background-color: transparent;
    border: none;
    color: #f4f1f1;
    font-size: 18px;
  }
  &__content-div {
    display: flex;
    flex-direction: column;

    @include breakpoint(700px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__image-div {
    position: relative;
    @include breakpoint(700px) {
      max-width: 400px;
    }
  }
  &__image {
    border: 12px solid #ba1b1d;
    border-radius: 6px;
    @include breakpoint(1000px) {
      border: none;
    }
  }
  &__image-offset {
    display: none;
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 20px;
    width: 100%;
    height: 100%;
    background-color: #ba1b1d;
    @include breakpoint(1000px) {
      display: block;
    }
  }
  &__text-div {
    margin-top: 24px;
  }
  &__name {
    color: #f4f1f1;
    border-left: 8px solid #ba1b1d;
    padding-left: 12px;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 48px */
  }
  &__title {
    font-size: 18px;
    color: #f4f1f1;
    font-weight: 300;
  }
  &__bio {
    font-size: 20px;
    color: #f4f1f1;
    font-weight: 300;
  }
  &__arrow {
    &--right {
      transform: rotate(180deg);
    }
  }
  &__buttons-div-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include breakpoint(1000px) {
      display: none;
    }
  }
  &__button-mobile {
    padding: 0 12px;
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button-text {
    font-size: 18px;
  }
  &__button-desktop {
    display: none;
    width: 35px;
    height: 50px;

    @include breakpoint(1000px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
