@use "../../../../styles/globals/mixins" as *;

.project {
  &__image {
    width: 100%;
    z-index: -1;
  }
  &__content {
    padding: 72px 20px;
    @include breakpoint(1000px) {
      padding: 80px 100px 144px 100px; // Top, Right, Bottom, Left
    }
  }

  &__title {
    color: #ba1b1d;
    margin-bottom: 36px;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 43.2px */
    @include breakpoint(1000px) {
      font-size: 56px;
    }
  }

  &__location {
    color: #251d1b;

    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 33.6px */
  }
  &__categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include breakpoint(1000px) {
      justify-content: space-between;
      gap: 80px;
      flex-direction: row;
      // border-bottom: 2px solid #dbd8d7;
    }
  }
  &__category {
    border-top: 2px solid #dbd8d7;
    width: 100%;
  }
  &__category-type {
    color: #a39e9c;

    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 26.4px */
  }
  &__category-value {
    color: #3c3634;

    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 26.4px */
  }
  &__text {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--font, #251d1b);
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 27px */
    letter-spacing: 0.18px;
    @include breakpoint(1000px) {
      margin-top: 106px;
      width: 75%;
    }
  }
  &__end-text {
    border-top: 3px solid black;
    width: 70%;
    margin: 0 auto;
  }
  &__button-div {
    margin-top: 40px;
  }
  &__button {
    color: white;
    background-color: #ba1b1d;
    width: 250px;
    font-size: 20px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__gallery-image {
    width: 100%;
    @include breakpoint(1000px) {
      width: 40%;
      flex: 1;
    }
  }
}
