@use "../../styles/globals/mixins" as *;

.hero {
  background-image: url("/crane.jpg");
  background-color: rgba(0, 0, 0, 0.445);
  background-blend-mode: overlay;
  width: 100%;

  background-position: center;
  background-size: cover;
  padding: 180px 20px 80px 20px;

  @include breakpoint(1000px) {
    padding: 100px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    @include breakpoint(1000px) {
      gap: 64px;
      padding-top: 200px;
    }
  }

  &__title {
    color: #fff;

    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 43.2px */
    @include breakpoint(1000px) {
      color: #fff;
      font-size: 64px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 76.8px */
    }
  }

  &__text {
    color: #fff;

    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 21.6px */
  }
  &__links-div {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include breakpoint(1000px) {
      flex-direction: row;
      gap: 48px;
    }
  }
  &__link {
    color: white;
    background-color: #ba1b1d;
    width: 250px;
    font-size: 20px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    &--modifier {
      color: #ba1b1d;
      background-color: #f4f1f1;
    }
  }
}

.force {
  padding: 72px 20px;
  position: relative;
  background: #f4f1f1;
  @include breakpoint(900px) {
    padding: 140px 100px;
  }
  &__gradient {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 165px;
    height: 307px;
    background: linear-gradient(
      180deg,
      rgba(186, 27, 29, 0.2) 0%,
      rgba(186, 27, 29, 0) 100%
    );
    @include breakpoint(900px) {
      right: 100px;
      width: 240px;
      height: 445px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    @include breakpoint(900px) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  &__image-div {
    z-index: 10;
    @include breakpoint(900px) {
      width: 50%;
    }
  }
  &__text-div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include breakpoint(900px) {
      width: 50%;
      justify-content: center;
      gap: 64px;
    }
  }
  &__heading {
    color: #ba1b1d;

    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 43.2px */
    @include breakpoint(900px) {
      font-size: 64px;
    }
  }
  &__subheading {
    color: #251d1b;

    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 33.6px */
    @include breakpoint(900px) {
      font-size: 40px;
    }
  }
  &__link {
    color: white;
    background-color: #ba1b1d;
    width: 180px;
    font-size: 20px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
  }
}

.stats {
  background-color: #e4e1e0;
  padding: 72px 20px;
  @include breakpoint(1000px) {
    padding: 80px 100px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include breakpoint(1000px) {
      flex-direction: row;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include breakpoint(1000px) {
      width: 25%;
    }
  }
  &__heading {
    color: #3c3634;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
  }
  &__number {
    color: #3c3634;
    border-left: 10px solid #ba1b1d;
    padding-left: 22px;

    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 76.8px */
  }
  &__text {
    color: #251d1b;

    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
  }
}

.work {
  padding: 72px 16px;

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__heading {
    color: #251d1b;
    border-left: 10px solid #ba1b1d;
    padding-left: 16px;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 33.6px */
  }
  &__text {
    color: #3c3634;

    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
  }
}

.about {
  background-color: #f4f1f1;
  padding: 72px 20px;
  @include breakpoint(1000px) {
    padding: 72px 100px;
  }
  &__heading-mobile {
    color: #251d1b;
    display: inline-block;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 20.4px */
    padding-right: 30px;
    &--focus {
      color: #ba1b1d;

      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 20.4px */
    }
    @include breakpoint(1000px) {
      display: none;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    @include breakpoint(1000px) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  &__heading-desktop {
    display: none;
    @include breakpoint(100px) {
      color: #251d1b;
      display: block;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 24px */
      padding: 20px 0;
      border-bottom: 1px solid #dbd8d7;
      &:hover {
        cursor: pointer;
      }
      &--focus {
        color: #ba1b1d;

        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 24px */
      }
    }
  }
  &__heading {
    color: #251d1b;
    border-left: 10px solid #ba1b1d;
    padding-left: 16px;
    margin-bottom: 48px;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 33.6px */
  }
  &__mobile-menu {
    border-bottom: 1px solid #dbd8d7;
    padding-bottom: 24px;
    margin-bottom: 48px;
    overflow: auto;
    white-space: nowrap;
    @include breakpoint(1000px) {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__desktop-menu {
    display: none;
    @include breakpoint(1000px) {
      display: block;
    }
  }
  &__focus-div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include breakpoint(1000px) {
      width: 60%;
    }
  }
  &__focus-title {
    color: #251d1b;

    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 26.4px */
    @include breakpoint(1000px) {
      padding-top: 20px;
    }
  }
  &__focus-text {
    color: #3c3634;

    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
  }
  &__button {
    color: white;
    background-color: #ba1b1d;
    width: 180px;
    font-size: 20px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
  }
}

.news {
  padding: 12px;
  background-color: #f4f1f1;
  &__headers-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }
  &__heading {
    border-left: 10px solid #ba1b1d;
    padding-left: 16px;
  }
  &__nav-div {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    color: white;
    background-color: #ba1b1d;
    width: 180px;
    font-size: 20px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
  }
  &__list {
    padding: 0;

    overflow: hidden;
    width: 100%;
  }
  &__arrows-div {
    display: flex;
    gap: 16px;
  }
  &__button {
    height: 100%;
    width: 40px;
    border: none;
    background-color: #e4e1e0;
    display: flex;
    justify-content: center;
    align-items: center;
    &--next {
      transform: rotate(180deg);
    }
  }
  &__image {
    // width: 100px;
    min-height: 200px;
  }

  &__list-item {
    width: 100%;
    list-style-type: none;
  }
}

.community {
  background-color: #3c3634;
  padding: 72px 20px;
  @include breakpoint(1200px) {
    padding: 140px 100px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    @include breakpoint(950px) {
      flex-direction: row;
      gap: 100px;
    }
  }

  &__image-mobile {
    @include breakpoint(950px) {
      display: none;
    }
  }
  &__image-desktop {
    display: none;
    @include breakpoint(950px) {
      display: block;
      width: 50%;
    }
  }
  &__text-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
    @include breakpoint(750px) {
      width: 50%;

      justify-content: center;
    }
  }
  &__title {
    color: #f4f1f1;

    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 33.6px */
    @include breakpoint(750px) {
      color: #efeceb;

      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 48px */
    }
  }
  &__text {
    color: #f5f5f5;

    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
  }
}
